# URL for  ShipWire API Calls
SHIPWIRE_BASE_URI='https://api.beta.shipwire.com/exec'

# PROD 'https://api.shipwire.com/exec/'


# For USE in SPECS
# In normal operation expect these to come from the caller

SHIPWIRE_USERNAME='chris@spreecommerce.com'
SHIPWIRE_PASSWORD='GBb4gv6wCjVeHV'
