---
http_interactions:
- request:
    method: post
    uri: https://api.beta.shipwire.com/exec/RateServices.php
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <RateRequest>
          <Username>shipwiretest@lootcrate.com</Username>
          <Password>lootcrate12</Password>
          <Server>Test</Server>
          <Order id="H215918586">
            <Warehouse>00</Warehouse>
            <AddressInfo type="ship">
              <Address1>7735 Old Georgetown Rd</Address1>
              <Address2/>
              <City>Bethesda</City>
              <State>Maryland</State>
              <Country>US</Country>
              <Zip>20814</Zip>
            </AddressInfo>
            <Item num="0">
              <Code>SPR-00001</Code>
              <Quantity>1</Quantity>
            </Item>
            <Item num="1">
              <Code>ROR-00004</Code>
              <Quantity>1</Quantity>
            </Item>
          </Order>
        </RateRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<!DOCTYPE \nRateResponse
        SYSTEM \"http://beta.shipwire.com/exec/download/RateResponse.dtd\">\n<RateResponse>\n
        \ <Status>OK</Status>\n  <Order sequence=\"1\">\n    <Quotes></Quotes>\n    <Warnings>\n
        \     <Warning>Unrecognized SKU SPR-00001 (item 1)</Warning>\n      <Warning>Unrecognized
        SKU ROR-00004 (item 2)</Warning>\n      <Warning>Order was marked residential;
        now marked\n      commercial</Warning>\n    </Warnings>\n  </Order>\n  <ProcessingTime
        units=\"ms\" host=\"t1.lwb.shipwire.com\">\n  433</ProcessingTime>\n</RateResponse>"
  recorded_at: Mon, 05 Jan 2015 12:30:54 GMT
recorded_with: VCR 2.9.3
