---
http_interactions:
- request:
    method: post
    uri: https://api.beta.shipwire.com/exec/InventoryServices.php
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <InventoryUpdate>
          <Username>SHIPWIRE_USERNAME</Username>
          <Password>SHIPWIRE_PASSWORD</Password>
          <Server>Test</Server>
        </InventoryUpdate>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 06 Jan 2015 16:45:11 GMT
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <!DOCTYPE InventoryUpdateResponse SYSTEM "http://beta.shipwire.com/exec/download/InventoryUpdateResponse.dtd">
        <InventoryUpdateResponse><Status>Test</Status><Product code="GD802-024" quantity="14" good="14" pending="300" backordered="0" reserved="15" shipping="7" shipped="7013" consuming="0" consumed="0" creating="0" created="0" availableDate="2012-01-19" shippedLastDay="13" shippedLastWeek="84" shippedLast4Weeks="401" orderedLastDay="15" orderedLastWeek="99" orderedLast4Weeks="416"/><Product code="GD201-500" quantity="32" good="32" pending="500" backordered="0" reserved="17" shipping="0" shipped="1997" consuming="0" consumed="0" creating="0" created="0" availableDate="2012-02-21" shippedLastDay="11" shippedLastWeek="74" shippedLast4Weeks="221" orderedLastDay="19" orderedLastWeek="90" orderedLast4Weeks="242"/><TotalProducts>2</TotalProducts><ProcessingTime units="ms" host="t1.lwb.shipwire.com">15</ProcessingTime></InventoryUpdateResponse>
  recorded_at: Tue, 06 Jan 2015 16:45:08 GMT
recorded_with: VCR 2.9.3
