---
http_interactions:
- request:
    method: post
    uri: https://api.beta.shipwire.com/exec/TrackingServices.php
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <TrackingUpdate>
          <Username>chris@spreecommerce.com</Username>
          <Password>GBb4gv6wCjVeHV</Password>
          <Server>Test</Server>
          <Bookmark>3</Bookmark>
        </TrackingUpdate>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 23 Dec 2014 14:18:45 GMT
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <!DOCTYPE TrackingUpdateResponse SYSTEM "http://beta.shipwire.com/exec/download/TrackingUpdateResponse.dtd">
        <TrackingUpdateResponse>
          <Status>Error</Status>
          <ErrorMessage>Error with Valid Username/EmailAddress and Password Required. There is an error in XML
          document.</ErrorMessage>
        </TrackingUpdateResponse>
  recorded_at: Tue, 23 Dec 2014 14:18:45 GMT
recorded_with: VCR 2.9.3
