---
http_interactions:
- request:
    method: post
    uri: https://api.beta.shipwire.com/exec/TrackingServices.php
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <TrackingUpdate>
          <Username>shipwiretest@lootcrate.com</Username>
          <Password>lootcrate12</Password>
          <Server>Test</Server>
          <Bookmark>3</Bookmark>
        </TrackingUpdate>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 05 Jan 2015 12:30:54 GMT
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <!DOCTYPE TrackingUpdateResponse SYSTEM "http://www.shipwire.com/exec/download/TrackingUpdateResponse.dtd">
        <TrackingUpdateResponse>
          <Status>0</Status>
          <Order id="40298" shipwireId="1234567890-1234567-1" internalId="12789013" warehouse="Chicago" shipped="NO" shipper=""
          shipDate="2011-03-14 11:11:40" expectedDeliveryDate="2011-03-22 00:00:00" returned="NO"
          href="https://app.shipwire.com/c/t/xxx1:yyy1" affiliateStatus="canceled" manuallyEdited="NO" />
          <Order id="40298" shipwireId="1234567890-1234568-1" internalId="12789023" warehouse="Philadelphia" shipped="YES"
          shipper="USPS FC" shipperFullName="USPS First-Class Mail Parcel + Delivery Confirmation"
          shipDate="2011-03-15 10:40:06" delivered="YES" expectedDeliveryDate="2011-03-22 00:00:00" handling="0.00"
          shipping="4.47" packaging="0.00" total="4.47" returned="YES" returnDate="2011-05-04 17:33:25" returnCondition="GOOD"
          href="https://app.shipwire.com/c/t/xxx1:yyy2" affiliateStatus="shipwireFulfilled" manuallyEdited="NO">
            <TrackingNumber carrier="USPS" delivered="YES" deliveryDate="2011-03-21 17:10:00"
            href="http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do?origTrackNum=9400110200793472606087">
            9400110200793472606087</TrackingNumber>
          </Order>
          <Order id="40298" shipwireId="1234567890-1234569-1" internalId="12789053" warehouse="Chicago" shipped="YES"
          shipper="USPS FC" shipperFullName="USPS First-Class Mail Parcel + Delivery Confirmation"
          shipDate="2011-04-08 09:33:10" delivered="NO" expectedDeliveryDate="2011-04-15 00:00:00" handling="0.00"
          shipping="4.47" packaging="0.00" total="4.47" returned="NO" href="https://app.shipwire.com/c/t/xxx1:yyy3"
          affiliateStatus="shipwireFulfilled" manuallyEdited="NO">
            <TrackingNumber carrier="USPS" delivered="NO"
            href="http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do?origTrackNum=9400110200793596422990">
            9400110200793596422990</TrackingNumber>
          </Order>
          <TotalOrders>3</TotalOrders>
          <TotalShippedOrders>2</TotalShippedOrders>
          <TotalProducts>8</TotalProducts>
          <Bookmark>2011-10-22 14:13:16</Bookmark>
          <ProcessingTime units="ms">1192</ProcessingTime>
        </TrackingUpdateResponse>
  recorded_at: Mon, 05 Jan 2015 12:30:53 GMT
recorded_with: VCR 2.9.3
