---
http_interactions:
- request:
    method: post
    uri: https://api.beta.shipwire.com/exec/FulfillmentServices.php
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <OrderList>
          <Username>shipwiretest@lootcrate.com</Username>
          <Password>lootcrate12</Password>
          <Server>Test</Server>
          <Referer>Store</Referer>
          <Order id="-H215918586">
            <Warehouse>00</Warehouse>
            <SameDay>NOT REQUESTED</SameDay>
            <Shipping>GD</Shipping>
            <AddressInfo type="ship">
              <Name>
                <Full>Brian Quinn</Full>
              </Name>
              <Phone>555-123-456</Phone>
              <Email>spree@example.com</Email>
              <Address1>7735 Old Georgetown Rd</Address1>
              <Address2/>
              <City>Bethesda</City>
              <State>Maryland</State>
              <Country>US</Country>
              <Zip>20814</Zip>
            </AddressInfo>
            <Item num="0">
              <Code>SPR-00001</Code>
              <Quantity>1</Quantity>
            </Item>
            <Item num="1">
              <Code>ROR-00004</Code>
              <Quantity>1</Quantity>
            </Item>
          </Order>
        </OrderList>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<!DOCTYPE \nSubmitOrderResponse
        SYSTEM \"http://beta.shipwire.com/exec/download/SubmitOrderResponse.dtd\">\n<SubmitOrderResponse>\n
        \ <Status>0</Status>\n  <TotalOrders>1</TotalOrders>\n  <TotalItems>0</TotalItems>\n
        \ <TransactionId>1420461051-723576-1</TransactionId>\n  <OrderInformation>\n
        \   <Order number=\"-H215918586\" id=\"1420461051-723576-1\" status=\"accepted\">\n
        \     <WarningList>\n        <Warning>\n          <![CDATA[Order was marked
        residential; now marked commercial]]>\n</Warning>\n      </WarningList>\n
        \     <Shipping>\n        <Warehouse>(Pending)</Warehouse>\n        <Service>(Pending)</Service>\n
        \       <Cost>(Pending)</Cost>\n      </Shipping>\n    </Order>\n  </OrderInformation>\n
        \ <ProcessingTime units=\"ms\" host=\"t1.lwb.shipwire.com\">\n  1719</ProcessingTime>\n</SubmitOrderResponse>"
  recorded_at: Mon, 05 Jan 2015 12:30:52 GMT
recorded_with: VCR 2.9.3
