---
http_interactions:
- request:
    method: post
    uri: https://api.shipwire.com/exec/TrackingServices.php
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<TrackingUpdate>\n  <Username>chris@spreecommerce.com</Username>\n
        \ <Password>GBb4gv6wCjVeHV</Password>\n  <Server>Test</Server>\n  <Bookmark>2</Bookmark>\n</TrackingUpdate>\n"
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 06 Nov 2012 15:12:10 GMT
      X-Trace:
      - 1B54652B841C29B0E7E88E3D50E8E448B4775103B5BEFCA9B197A44CB5
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<!DOCTYPE TrackingUpdateResponse
        SYSTEM \"http://www.shipwire.com/exec/download/TrackingUpdateResponse.dtd\">\n<TrackingUpdateResponse>\n
        \ <Status>0</Status>\n  <Order id=\"40298\" shipwireId=\"1234567890-1234567-1\"
        shipped=\"NO\" shipper=\"\" shipDate=\"2011-03-14 11:11:40\"\n  expectedDeliveryDate=\"2011-03-22
        00:00:00\" returned=\"NO\" href=\"https://app.shipwire.com/c/t/xxx1:yyy1\"\n
        \ affiliateStatus=\"canceled\" manuallyEdited=\"NO\" />\n  <Order id=\"40298\"
        shipwireId=\"1234567890-1234568-1\" shipped=\"YES\" shipper=\"USPS FC\"\n
        \ shipperFullName=\"USPS First-Class Mail Parcel + Delivery Confirmation\"
        [...]
