---
http_interactions:
- request:
    method: post
    uri: https://api.shipwire.com/exec/FulfillmentServices.php
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<OrderList>\n  <Username>chris@spreecommerce.com</Username>\n
        \ <Password>GBb4gv6wCjVeHV</Password>\n  <Server>Test</Server>\n  <Referer>SPREE</Referer>\n
        \ <Order id=\"R159875257\">\n    <Warehouse>00</Warehouse>\n    <SameDay>NOT
        REQUESTED</SameDay>\n    <Shipping>GD</Shipping>\n    <AddressInfo type=\"ship\">\n
        \     <Name>\n        <Full>Santina Quitzon</Full>\n      </Name>\n      <Phone>1-252-515-0619
        x9455</Phone>\n      <Email>chris@spreecommerce.com</Email>\n      <Address1>5819
        Derick Club</Address1>\n      <Address2>Suite 240</Address2>\n      <City>South
        William</City>\n      <State>NY</State>\n      <Country>US</Country>\n      <Zip>16804</Zip>\n
        \   </AddressInfo>\n    <Item num=\"0\">\n      <Code>ROR-00011</Code>\n      <Quantity>3</Quantity>\n
        \   </Item>\n  </Order>\n</OrderList>\n"
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<!DOCTYPE \nSubmitOrderResponse
        SYSTEM \"http://www.shipwire.com/exec/download/SubmitOrderResponse.dtd\">\n<SubmitOrderResponse>\n
        \ <Status>0</Status>\n  <TotalOrders>1</TotalOrders>\n  <TotalItems>0</TotalItems>\n
        \ <TransactionId>1352214142-773022-1</TransactionId>\n  <OrderInformation>\n
        \   <Order number=\"R159875257\" id=\"1352214142-773022-1\" status=\"accepted\">\n
        \     <WarningList>\n        <Warning>\n          <![CDATA[Could not verify
        shipping address]]>\n</Warning>\n      </WarningList>\n      <Shipping>\n
        \       <Warehouse>(Pending)</Warehouse>\n        <Service>(Pending)</Service>\n
        \       <Cost>(Pending)</Cost>\n      </Shipping>\n    </Order>\n  </OrderInformation>\n
        \ <ProcessingTime units=\"ms\">464</ProcessingTime>\n</SubmitOrderResponse>"
  recorded_at: Tue, 06 Nov 2012 15:02:23 GMT
recorded_with: VCR 2.2.2
