---
http_interactions:
- request:
    method: post
    uri: https://api.beta.shipwire.com/exec/RateServices.php
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <RateRequest>
          <Username>chris@spreecommerce.com</Username>
          <Password>GBb4gv6wCjVeHV</Password>
          <Server>Test</Server>
          <Order id="H215918586">
            <Warehouse>00</Warehouse>
            <AddressInfo type="ship">
              <Address1>7735 Old Georgetown Rd</Address1>
              <Address2/>
              <City>Bethesda</City>
              <State>Maryland</State>
              <Country>US</Country>
              <Zip>20814</Zip>
            </AddressInfo>
            <Item num="0">
              <Code>SPR-00001</Code>
              <Quantity>1</Quantity>
            </Item>
            <Item num="1">
              <Code>ROR-00004</Code>
              <Quantity>1</Quantity>
            </Item>
          </Order>
        </RateRequest>
    headers:
  response:
    status:
      code: 401
      message: Authorization Required
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<!DOCTYPE \nRateResponse
        SYSTEM \"http://beta.shipwire.com/exec/download/RateResponse.dtd\">\n<RateResponse>\n
        \ <Status>Error</Status>\n  <ErrorMessage>Could not verify Username/EmailAddress
        and Password\n  combination</ErrorMessage>\n</RateResponse>"
  recorded_at: Tue, 23 Dec 2014 12:11:00 GMT
recorded_with: VCR 2.9.3
